In [2]:
import requests
import pandas as pd
import re # regular expression
import csv
import streamlit as st
from bs4 import BeautifulSoup
from streamlit.components.v1 import html


## We need two html elements
    1. drop down list that will search for keywords stored in a text or json file
    2. a text box for zip codes - must add a check to make sure it is a valid zip code 
    3. a drop down for the radius options - 5, 10, 25, 50, 100 | {page-number } - 3,5,10,20,50
    4. a button to submit the search
 
#### let us make it with the numbers hard coded first

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the webpage to scrape
url = 'https://www.superpages.com/categories/'

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all <a> tags
    all_a_tags = soup.find_all('a')

    # Extract link text and store it in a list
    link_texts = [a_tag.text for a_tag in all_a_tags]

    # Create a DataFrame from the list of link texts
    df = pd.DataFrame({'Link Text': link_texts})

    # Save the DataFrame to a CSV file
    df.to_csv('trades.csv', index=False)

    print('Data has been saved to links.csv')
else:
    print(f"Failed to fetch the webpage. Status code: {response.status_code}")

Data has been saved to links.csv

In [3]:
df = pd.read_csv('./resources/trades.csv')

In [4]:
df.head()

            Link Text
0                 NaN
1                 NaN
2     Use My Location
3       People Search
4  Popular Categories

In [5]:
# remove all the empty rows
df = df.dropna()

In [6]:
#count the number of na's
df.isna().sum()

Link Text    0
dtype: int64

In [7]:
df.head()

            Link Text
2     Use My Location
3       People Search
4  Popular Categories
5     State Directory
6                Join

In [8]:
df.reset_index(drop=True, inplace=True)

In [9]:
df.head()

            Link Text
0     Use My Location
1       People Search
2  Popular Categories
3     State Directory
4                Join

In [10]:
# now overwrite the csv file

df.to_csv('./resources/trades.csv', index=False)

update_df = pd.read_csv('./resources/trades.csv')

update_df.head()

            Link Text
0     Use My Location
1       People Search
2  Popular Categories
3     State Directory
4                Join